@model IEnumerable<ClinicaVet.GestaoVeterinaria.Models.Proprietario>

@{
    ViewData["Title"] = "Proprietários";
}

<h1>Proprietários</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContatoPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContatoPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { idProprietario = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { idProprietario = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { idProprietario = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
