@model IEnumerable<ClinicaVet.GestaoVeterinaria.Models.Atendimento>

@{
    ViewData["Title"] = "Atendimentos";
}

<h1>Atendimentos</h1>

<p>
    <a asp-action="IniciarAtendimento">Gerar novo Atendimento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtendimentoIniciado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtendimentoFinalizado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedicoVeterinario)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.AtendimentoIniciado
                </td>
                <td>
                    @item.AtendimentoFinalizado
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicoVeterinario.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { idAtendimento = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { idAtendimento = item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new { idAtendimento = item.Id })
                </td>
                @if (item.Finalizado)
                {
                    <td>
                        <button class="btn btn-success" disabled>Finalizar</button>
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Finalizar", "FinalizarAtendimento", new { idAtendimento = item.Id}, new {@class="btn btn-success"})
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
